.jobRow {
    display: block;
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #888;
    padding: 10px;
    margin: 10px auto;
}

.title {
    display: inline;
    font-size: 20px;
}

.location {
    display: inline;
    float: right;
    margin: 2px;
}
