.jobRow {
    display: block;
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #888;
    padding: 10px;
    margin: 10px auto;
}

.title {
    color: #222;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}

.location {
    display: block;
}

.company{
  display: inline;
}
.fav{
  display: inline;
  float: right;
}

a:hover{
  color: #339;
}

p:hover {color: #339};

.pLink {
  cursor: pointer;
}
