.resultsSection{
  width: 100%;
  margin: 0 auto;
  margin-left: 22%;
  margin-top: 40px;
  position:absolute; /*it can be fixed too*/
}

.container{
  margin: 0 auto;
  width: 100%;
}

.searchSection{
  background-color: #223;
  padding: 0px 10px;
  color: white;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 3px 10px #888;
}

.list{
  display: inline;
  float: left;
  width: 28%;
  margin: 10px;
}
