.JobList{
  width:30%;
  height: 300px;
  overflow-y:scroll;
  border:.5px solid #ccc;
  margin: 5px;
  display: inline-block;
  float: left;
}
.listTitle{
  position: fixed;
  text-align: center;
  background-color: white;
  display: inline;
}
