.searchHeader{
  width: 50%;
  margin: 5px auto;
  text-align: center;
}

.searchFields{
  width: 90%;
  margin: 0 auto;
}

.searchButton{
  display: inline-block;
  float: right;
}

.inputField{
  margin: 10px 10px 10px 3px;
}
@media screen and (max-width: 600px){
  .searchFields{
    text-align: center;
    box-sizing: border-box;
  }
  .inputField{
    width: 100%;
    box-sizing: border-box;
  }
  .searchButton{
    float: none;
    margin-left: 40%;
  }
}